div{

    height: 30vh;
    width: 30vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px inset red;
    margin: 100px 0px 25px 100px;
    outline-width: 10px;
    /* outline-style: solid;
    outline-color: greenyellow;
    outline-offset: 50px; */
outline: 10px solid green;
outline-offset: 50px;
border-radius: 2px 70px;

}

h1{
    margin-left: 50vw;
    margin-top: 100px;
}